@using (Html.BeginForm("Cadastro", "Cadastro", FormMethod.Post))
{
    <div id="corpo" style="height:90%">
        <fieldset style="width:25%;margin:auto;">
            <h2>Login</h2>
            <div style="display:inline-block">
                <div>
                    @Html.Label("Nome: ")
                    @Html.TextBox("nome")
                </div>
                <div>
                    @Html.Label("Email: ")
                    @Html.TextBox("email")
                </div>
                <div>
                    @Html.Label("Senha: ")
                    @Html.Password("senha")
                </div>
            </div>
            <br>
            <input type="submit" value="Cadastrar">
        </fieldset>
    </div>
}